@import url('https://fonts.googleapis.com/css2?family=VT323&family=Roboto+Mono:wght@400;600&display=swap');

:root {
  --bg-color: #101116;
  --surface: #24272E;
  --primary: #00BFFF;
  --accent: #FF4500;
  --text-main: #E0E0E0;
  --muted: #9E9E9E;
  --border: solid 2px #3E424B;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: normal;
}

/* Base resets */
* {
  box-sizing: border-box;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
